# Prisma Connection String for PostgreSQL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
DATABASE_URL=

# Magic
NEXT_PUBLIC_MAGIC_API_KEY=pk_live_YOUR_KEY_HERE

# Particle Network
NEXT_PUBLIC_PROJECT_ID=YOUR_PROJECT_ID
NEXT_PUBLIC_CLIENT_KEY=YOUR_CLIENT_KEY
NEXT_PUBLIC_APP_ID=YOUR_APP_UUID

# Arbitrum
NEXT_PUBLIC_ARB_RPC_URL=https://arb1.arbitrum.io/rpc
DEPLOYER_PRIVATE_KEY=YOUR_DEPLOYER_PRIVATE_KEY
NEXT_PUBLIC_ACCESS_PASS_CONTRACT=DEPLOYED_AFTER_DAY4
NEXT_PUBLIC_TREASURY_WALLET=YOUR_TREASURY_WALLET_ADDRESS
ARBISCAN_API_KEY=YOUR_ARBISCAN_API_KEY
